@font-face {
 font-family: 'Nanum Square';
 src: url(../fonts/NanumSquare/NanumSquareR.eot);
 src: url(../fonts/NanumSquare/NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumSquare/NanumSquareR.woff) format('woff'),
      url(../fonts/NanumSquare/NanumSquareR.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

html, body {
    font-family: 'Open Sans', 'Nanum Square', sans-serif;
}

body {
    background-color: #e3e6eb;
}

.code-description {
    margin-bottom: 1em;
}

.preview {
    margin-bottom: 1.6em;
    text-align: center;
}

.preview .preview-description {
    margin-top: .6em;
    font-size: 110%;
}

.preview:after,
.preview:before {
    content: '';
    display: block;
    height: 0;
    clear: both;
}

.preview .btn {
    margin-top: 0;
    margin-bottom: 0;
}

.preview .col .btn,
.preview .col-md .btn {
    width: 95%;
}

.preview:last-child {
    margin-bottom: 0;
}

.preview.preview-left {
    text-align: left;
}

.preview .preview-fill {
    background-color: #e3e6eB;
}

.preview .row {
    border-spacing: 1px;
}

.preview .col-1,
.preview .col-2,
.preview .col-3,
.preview .col-4,
.preview .col-5,
.preview .col-6,
.preview .col-7,
.preview .col-8,
.preview .col-9,
.preview .col-10,
.preview .col-11,
.preview .col-12,
.preview .col-md-1,
.preview .col-md-2,
.preview .col-md-3,
.preview .col-md-4,
.preview .col-md-5,
.preview .col-md-6,
.preview .col-md-7,
.preview .col-md-8,
.preview .col-md-9,
.preview .col-md-10,
.preview .col-md-11,
.preview .col-md-12 {
    height: 5.2em;
    text-align: center;
}

.preview > :last-child {
    margin-bottom: 0;
}

.preview .floating {
    line-height: 4.4em;
    margin: 0 auto;
}

.preview .floating i {
    margin-right: -.1em;
}