.works-theme-dark .works-header {
    background-color: #242831;
    color: #ffffff;
}

.works-theme-dark .works-header * {
    color: #ffffff;
}

.works-theme-dark .works-top h1 {
    color: #111c30;
}

.works-theme-dark .works.works-top .works-menu a.active {
    border-bottom-color: #4e6de1;
}

.works-theme-dark .works-header .works-header-inner .works-header-action.works-header-menu .works-menu.active {
    color: #e5e98b;
}

.works-header .works-header-inner .btn-action:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #242831;
}

.works-header .works-header-inner .btn-action:hover i {
    color: #242831;
}